# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# MapReduce temporary and output files
mr-intermediate-*
outputs/
tmp/

# Editor/IDE
# .idea/
# .vscode/
# MapReduce temporary and output files
mr-intermediate-*
output/
tmp/
final-output.txt

./master
./worker
